@media only screen and (min-width: 1600px) and (max-width:1920px) {
    .home_banner form button {
        margin:16px 0 0
    }

    .home_banner {
        height: 817px
    }

    .home_banner .container {
        width: 100%
    }

    .home_banner form input {
        width: 160px
    }
}
@media only screen and (min-width: 1445px) and (max-width:1599px) {
    .home_banner .container {
        width:100%
    }

    .home_banner form button {
        margin: 16px 0 0
    }

    .home_banner form input {
        width: 160px
    }
}
@media only screen and (min-width: 1366px) and (max-width:1444px) {
    .home_banner form button {
        margin:16px 0 0
    }

    .home_banner {
        height: 817px
    }

    .home_banner form input {
        width: 160px
    }
}
@media only screen and (min-width: 1200px) and (max-width:1399px) {
    .home_banner form input {
        width:198px
    }

    .home_banner .container {
        width: 100%
    }

    header .site_header .navbar-brand img {
        width: 126px
    }

    header .site_header .navbar-nav .nav-item .nav-link {
        font-size: 12px
    }

    .home_partner .crd h4 {
        font-size: 17px
    }

    .home_partner .crd p {
        font-size: 14px;
        height: 208px
    }

    .head_area p {
        font-size: 16px;
        width: 80%;
        margin: 0 auto
    }

    .reviews .crd p {
        height: 178px
    }

    .home_cta.cta2 .content h2 {
        font-size: 25px
    }

    .home_story h2 {
        font-size: 24px
    }

    .modules_wapper::after,.modules_wapper_steps .steps::after {
        display: none
    }

    .attach_one {
        background: #fff
    }

    .tbs_portfolio .tbs .nav-tabs .nav-link {
        font-size: 14px;
        width: 153px
    }

    .home_banner form button {
        margin: 20px 0 0
    }
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .modules_wapper::after,.modules_wapper_steps .steps::after {
        display:none
    }

    .modules_wapper_steps .steps .steps_text p {
        height: auto
    }

    .head_area h2 {
        font-size: 44px
    }

    header .site_header .navbar-brand img {
        width: 90px
    }

    header .site_header .navbar-nav .nav-item .nav-link {
        font-size: 12px
    }

    .home_banner .container {
        width: 100%;
        margin: 0 auto
    }

    .home_banner p {
        font-size: 23px
    }

    .home_banner form input {
        width: 130px;
        margin: 15px 2px
    }

    .home_services .crd h4 {
        font-size: 18px;
        margin: 13px 0 8px
    }

    .home_partner .crd h4 {
        font-size: 14px;
        margin: 8px 0
    }

    .home_partner .crd p {
        font-size: 12px;
        height: 222px
    }

    .portfolio img {
        width: 95%!important;
        height: 280px
    }

    .head_area p {
        margin: 0 auto;
        width: 90%;
        font-size: 21px
    }

    .modules_wapper h4 {
        font-size: 30px;
        width: 70%
    }

    .attach_one {
        background: #fff
    }

    .tbs_portfolio .tbs .nav-tabs .nav-link {
        font-size: 14px;
        width: 123px
    }

    .contact_form_wrapper .cta_form_text h3 {
        font-size: 33px
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .head_area p,.home_banner p,
    header .site_header .navbar-nav .nav-item.dropdown ul li a {
        font-size:18px
    }

    header .site_header .navbar-brand img {
        width: 150px
    }

    .modules_wapper_services {
        padding: 0
    }

    header .site_header .navbar-nav .nav-item .nav-link {
        font-size: 20px;
        width: 218px;
        padding: 10px 16px
    }

    .home_banner .container {
        width: 100%;
        margin: 0 auto
    }

    .home_banner form input {
        width: 49%;
        margin: 7px 2px;
        padding: 14px;
        font-size: 20px
    }

    .home_services .crd h4 {
        font-size: 28px;
        margin: 24px 0 23px
    }

    .home_partner .crd h4 {
        font-size: 22px;
        margin: 8px 0
    }

    .home_partner .crd p {
        font-size: 14px;
        height: 119px
    }

    .portfolio img {
        width: 95%!important;
        height: 344px
    }

    .head_area p {
        margin: 0 auto;
        width: 100%;
        text-align: center
    }

    .modules_wapper h4 {
        font-size: 54px;
        width: 100%
    }

    .book_a_call .btn a:nth-child(2),
    .btn-epic,.home_cta img,.modules_wapper::after,
    .modules_wapper_steps .steps .steps_number,
    .modules_wapper_steps .steps::after {
        display: none
    }

    .attach_one {
        background: #fff
    }

    .tbs_portfolio .tbs .nav-tabs .nav-link {
        font-size: 12px;
        width: 94px
    }

    .contact_form_wrapper .cta_form_text h3 {
        font-size: 46px
    }

    .banner_wrapper p,.modules_wapper p {
        width: 100%
    }

    .modules_wapper .services_form input {
        width: 162px
    }

    .tx_s {
        font-size: 41px!important
    }

    .modules_wapper_quote {
        padding: 6rem 0 0
    }

    .home_cta .content p {
        text-align: justify!important;
        font-size: 20px;
        line-height: 2
    }

    .faq .accordion .accordion-item .accordion-header button {
        font-size: 16px
    }

    .reviews .crd p {
        font-size: 16px;
        height: 235px;
        padding: 0 27px 0 0
    }

    .navbar-toggler {
        background: var(--primary-bgcolor);
        color: #fff;
        padding: 7px 15px;
        border-radius: 7px
    }

    .navbar-collapse {
        background: #fff;
        position: absolute;
        width: 100%;
        top: 5rem;
        z-index: 2;
        padding: 1rem 0;
        border-radius: 0 0 62px 63px
    }

    .home_banner h2 {
        font-size: 27px
    }

    .home_banner {
        height: 786px
    }

    .home_cta .content h3 {
        font-size: 39px;
        margin: 19px 0 18px
    }

    .home_partner .crd {
        height: 220px;
        margin: 11px 0
    }

    .counter ul li span {
        font-size: 37px
    }

    .counter ul li p {
        font-size: 14px
    }

    .book_a_call h3 {
        font-size: 36px
    }

    .contact_us {
        padding: 0 0 5rem
    }

    .main_privacy .banner_detail {
        padding: 2rem 0
    }

    .main_privacy .banner_detail h4 {
        font-size: 4rem
    }

    .home_banner form button {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        margin: 7px 0 0
    }

    .modules_wapper_steps .steps {
        margin-top: 2rem
    }

    .modules_wapper_steps .steps .steps_text {
        width: 100%;
        margin: 10px 0
    }

    .modules_wapper_steps .steps .steps_text p {
        height: auto
    }

    .head_area h2 {
        font-size: 44px
    }

    .thankyou h1 {
        font-size: 70px
    }

    .thankyou::after {
        width: 100%;
        height: 628px;
        top: 0;
        z-index: 0;
        opacity: .3
    }
    section.testimonials .testi_box .main-img img {
        width: 130px;
        height: 190px;
    }
    
    section.testimonials .testi_box .txt p {
        font-size: 12px;
        line-height: 17px;
        height: 134px;
        margin: 0px 0px 5px;
    }
    
    section.testimonials .testi_box {
        gap: 11px;
        padding: 10px;
        border-radius: 8px;
    }
    
    section.testimonials .testi_box .txt ul li img {
        width: 55px;
        height: 55px;
    }
    
    section.testimonials .testi_box .txt ul li h4 {
        font-size: 24px;
    }
    
    section.testimonials .testi_box .txt ul {
        margin: 0px 0px 8px;
    }
    
    section.testimonials .testi_box .txt .star li i {
        font-size: 13px;
    }
    section.testimonials {
        padding: 40px 0px 0px;
    }
    section.testimonials .head {}
    section.testimonials .head h2 {
        font-size: 30px;
        margin: 0px 0 20px;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1400px) {
    .home_banner h2 {
        font-size:40px;
        line-height: 45px;
        font-weight: 600
    }

    .home_cta img,.modules_wapper_steps .steps .steps_number {
        display: block
    }

    .portfolio img {
        height: 283px
    }

    .modules_wapper_steps .steps .steps_text p {
        height: 90px
    }

    .modules_wapper_steps .steps .row:nth-child(2n) .steps_number {
        text-align: left
    }
}
@media only screen and (min-width: 520px) and (max-width:767px) {
    .head_area p,footer p {
        text-align:center
    }

    header .site_header .navbar-brand img {
        width: 109px
    }
    .banner_wrapper h2 {
       font-size: 28px;
       line-height: 38px;
    }

    header .site_header .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        width: 218px;
        padding: 8px 16px;
        color: #fff;
        text-align: center
    }

    .home_banner .container {
        width: 100%;
        margin: 0 auto
    }

    .faq .accordion .accordion-item .accordion-header button,.home_banner p,.modules_wapper h5,.reviews .reviewer-info h4 {
        font-size: 16px
    }

    .home_banner form input {
        width: 90%;
        margin: 5px 2px;
        padding: 10px 20px;
        font-size: 14px
    }

    .home_services .crd h4 {
        font-size: 23px;
        margin: 22px 0 14px
    }

    .home_partner .crd h4 {
        font-size: 22px;
        margin: 8px 0
    }

    .home_partner .crd p {
        font-size: 14px;
        height: 119px
    }

    .portfolio img {
        width: 95%!important;
        height: 382px
    }

    .head_area p {
        margin: 0 auto;
        width: 100%;
        font-size: 14px
    }

    .modules_wapper h4 {
        font-size: 28px;
        width: 100%
    }

    .book_a_call .btn a:nth-child(2),.btn-epic,.home_cta img,.modules_wapper::after,.modules_wapper_steps .steps .steps_number h3,.modules_wapper_steps .steps::after,header .top_notch {
        display: none
    }

    .attach_one {
        background: #fff
    }

    .tbs_portfolio .tbs .nav-tabs .nav-link {
        font-size: 9px;
        width: 81px
    }

    .contact_form_wrapper .cta_form_text h3 {
        font-size: 31px
    }

    .banner_wrapper p,.modules_wapper p {
        width: 100%
    }

    .modules_wapper .services_form input {
        width: 100%;
        margin: 4px 0
    }

    .tx_s {
        font-size: 41px!important
    }

    .modules_wapper_quote {
        padding: 6rem 0 0
    }

    .home_cta .content p {
        text-align: justify!important;
        font-size: 16px;
        line-height: 1.7
    }

    .reviews .crd p {
        font-size: 12px;
        height: 210px;
        padding: 0 4px 0 0;
        text-align: left
    }

    .navbar-toggler {
        background: var(--primary-bgcolor);
        color: #fff;
        padding: 7px 12px;
        border-radius: 7px
    }

    .navbar-collapse {
        background: #00838c;
        position: absolute;
        width: 100%;
        top: 74px;
        z-index: 2;
        padding: 1rem 0;
        border-radius: 0 0 39px 39px
    }

    header .site_header .navbar-nav .nav-item.dropdown ul li a {
        font-size: 18px
    }

    .home_banner h2 {
        font-size: 28px;
        line-height: 1.6;
        margin: 0
    }

    .home_banner {
        height: 810px;
        padding: 44px 0
    }

    .home_cta .content h3 {
        font-size: 29px!important;
        margin: 0 auto 18px!important
    }

    .home_partner .crd {
        height: 220px;
        margin: 11px 0
    }

    .counter ul li span {
        font-size: 21px
    }

    .counter ul li p {
        font-size: 10px
    }

    .book_a_call h3 {
        font-size: 35px;
        line-height: 1.5
    }

    .contact_us {
        padding: 0 0 5rem
    }

    .main_privacy .banner_detail {
        padding: 1rem 0;
        margin: 0
    }

    .main_privacy .banner_detail h4 {
        font-size: 2rem
    }

    .home_banner form button {
        width: 89%;
        padding: 10px 0;
        font-size: 17px;
        margin: 6px 0 0
    }

    .btn_group a {
        width: 221px;
        font-size: 13px
    }

    .home_about,.home_cta {
        padding: 2rem 0
    }

    .home_about .content h3 {
        font-size: 31px;
        margin: 9px 0 20px
    }

    .home_about .content p {
        font-size: 14px
    }

    footer .links li a,footer p {
        font-size: 12px
    }

    .head_area h2 {
        font-size: 27px
    }

    .faq,.home_partner,.modules_wapper {
        padding: 3rem 0
    }

    .home_story,.modules_wapper_steps {
        padding: 1rem 0
    }

    .book_a_call {
        padding: 2rem 0;
        text-align: justify
    }

    .book_a_call p {
        font-size: 16px;
        margin: 14px 0
    }

    .book_a_call .btn {
        flex-direction: revert
    }

    footer .logo a img {
        width: 222px
    }

    footer .links li {
        margin: 0 4px;
        padding: 0 6px
    }

    .banner_wrapper h4 {
        font-size: 30px
    }

    .contact_us form span {
        font-size: 32px
    }

    .modules_wapper .services_form button {
        width: 100%;
        margin: 4px 0 0
    }

    .tbs_portfolio {
        padding: 2rem 0 1rem
    }

    .tbs_portfolio .tbs .nav-tabs .nav-item {
        margin: 3px 2px
    }

    .tbs_portfolio .tbs {
        margin: 0
    }

    .tbs_portfolio .tbs .tab-content {
        margin: 1rem 0
    }

    .contact_form_wrapper {
        padding: 1px 20px 24px;
        margin: 0 0 6rem
    }

    .mb-5 {
        margin-bottom: 1rem!important
    }

    .modules_wapper_steps .steps .steps_text {
        padding: 19px;
        width: 100%;
        margin: 1rem 0
    }

    .modules_wapper_steps .steps .steps_text h4 {
        font-size: 25px
    }

    .modules_wapper_steps .steps {
        margin-top: 1rem
    }

    .home_services .crd p {
        font-size: 12px;
        height: 106px
    }

    .modules_wapper_steps .steps .steps_text p {
        height: auto
    }

    .thankyou {
        height: 420px
    }

    .thankyou p {
        font-size: 34px;
        padding: 17px 0 24px;
        z-index: 2
    }

    .thankyou h1 {
        font-size: 63px
    }

    .thankyou::after {
        height: 850px;
        width: 100%;
        top: -156px;
        opacity: .1
    }
}
@media only screen and (min-width: 300px) and (max-width:519px) {
    .book_a_call .btn a:nth-child(2),.btn-epic,.home_cta img,.modules_wapper::after,.modules_wapper_steps .steps .steps_number h3,.modules_wapper_steps .steps::after,header .top_notch {
        display:none
    }

    .modules_wapper_steps .steps .steps_text p {
        height: 162px;
        padding: 10px
    }

    header .site_header .navbar-brand img {
        width: 109px
    }
    .banner_wrapper h2 {
       font-size: 28px;
       line-height: 38px;
    }

    header .site_header .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        width: 218px;
        padding: 8px 16px;
        color: #fff;
        text-align: center
    }

    .home_banner .container {
        width: 100%;
        margin: 0 auto
    }

    .faq .accordion .accordion-item .accordion-header button,.home_banner p,.modules_wapper h5 {
        font-size: 16px
    }

    .home_banner form input {
        width: 90%;
        margin: 5px 2px;
        padding: 10px 20px;
        font-size: 14px
    }

    .home_services .crd h4 {
        font-size: 28px;
        margin: 24px 0 23px
    }

    .home_partner .crd h4 {
        font-size: 22px;
        margin: 8px 0
    }

    .home_partner .crd p {
        font-size: 14px;
        height: 119px
    }

    .portfolio img {
        width: 71%!important;
        height: 382px
    }

    .head_area p {
        margin: 0 auto;
        width: 100%;
        font-size: 14px;
        text-align: center
    }

    .modules_wapper h4 {
        font-size: 28px;
        width: 100%
    }

    .attach_one {
        background: #fff
    }

    .tbs_portfolio .tbs .nav-tabs .nav-link {
        font-size: 12px;
        width: 94px
    }

    .contact_form_wrapper .cta_form_text h3 {
        font-size: 31px
    }

    .banner_wrapper p,.modules_wapper p {
        width: 100%
    }

    .modules_wapper .services_form input {
        width: 331px;
        margin: 4px 0
    }

    .tx_s {
        font-size: 41px!important
    }

    .modules_wapper_quote {
        padding: 6rem 0 0
    }

    .home_cta .content p {
        text-align: justify!important;
        font-size: 16px;
        line-height: 1.7
    }

    .reviews .crd p {
        font-size: 16px;
        height: 235px;
        padding: 0 27px 0 0
    }

    .navbar-toggler {
        background: var(--primary-bgcolor);
        color: #fff;
        padding: 7px 12px;
        border-radius: 7px
    }

    .navbar-collapse {
        background: #00838c;
        position: absolute;
        width: 100%;
        top: 74px;
        z-index: 2;
        padding: 1rem 0;
        border-radius: 0 0 39px 39px
    }

    header .site_header .navbar-nav .nav-item.dropdown ul li a {
        font-size: 18px
    }

    .home_banner h2 {
        font-size: 21px;
        line-height: 1.6;
        margin: 0
    }

    .home_banner {
        height: 940px;
        padding: 44px 0;
    }

    .home_cta .content h3 {
        font-size: 29px!important;
        margin: 0 auto 18px!important
    }

    .home_partner .crd {
        height: 220px;
        margin: 11px 0
    }

    .counter ul li span {
        font-size: 21px
    }

    .counter ul li p {
        font-size: 10px
    }

    .book_a_call h3 {
        font-size: 27px;
        line-height: 1.5
    }

    .contact_us {
        padding: 0 0 5rem
    }

    .main_privacy .banner_detail {
        padding: 1rem 0;
        margin: 0
    }

    .main_privacy .banner_detail h4 {
        font-size: 2rem
    }

    .home_banner form button {
        width: 89%;
        padding: 10px 0;
        font-size: 17px;
        margin: 6px 0 0
    }

    .btn_group a {
        width: 221px;
        font-size: 9px
    }

    .home_about,.home_cta {
        padding: 2rem 0
    }

    .home_about .content h3 {
        font-size: 25px;
        margin: 9px 0 20px
    }

    .home_about .content p {
        font-size: 14px
    }

    .head_area h2 {
        font-size: 24px;
        padding: 0 20px;
        line-height: 35px;
    }

    .faq,.home_partner,.modules_wapper {
        padding: 3rem 0
    }

    .home_story,.modules_wapper_steps {
        padding: 1rem 0
    }

    .book_a_call {
        padding: 2rem 0;
        text-align: justify
    }

    .book_a_call p {
        font-size: 16px;
        margin: 14px 0
    }

    .book_a_call .btn {
        flex-direction: column
    }

    footer .logo a img {
        width: 222px
    }

    footer p {
        text-align: center;
        font-size: 12px
    }

    footer .links li {
        margin: 0 4px;
        padding: 0 6px
    }

    footer .links li a {
        font-size: 8px
    }

    .banner_wrapper h4 {
        font-size: 30px
    }

    .contact_us form span {
        font-size: 32px
    }

    .modules_wapper .services_form button {
        width: 100%;
        margin: 4px 0 0
    }

    .tbs_portfolio {
        padding: 2rem 0 1rem
    }

    .tbs_portfolio .tbs .nav-tabs .nav-item {
        margin: 3px 2px
    }

    .tbs_portfolio .tbs {
        margin: 0
    }

    .tbs_portfolio .tbs .tab-content {
        margin: 1rem 0
    }

    .contact_form_wrapper {
        padding: 1px 20px 24px;
        margin: 0 0 6rem
    }

    .mb-5 {
        margin-bottom: 1rem!important
    }

    .modules_wapper_steps .steps .steps_text {
        padding: 19px;
        width: 100%;
        margin: 1rem 0
    }

    .modules_wapper_steps .steps .steps_text h4 {
        font-size: 25px
    }

    .modules_wapper_steps .steps {
        margin-top: 1rem
    }

    .thankyou {
        height: 420px
    }

    .thankyou p {
        font-size: 22px;
        padding: 17px 0 24px;
        z-index: 2
    }

    .thankyou h1 {
        font-size: 35px
    }

    .thankyou::after {
        height: 850px;
        top: -156px;
        opacity: .1
    }
    .book_a_call h2 {
    font-size: 23px;
    line-height: 32px;
    }
    
    .home_cta .content h2 {
        font-size: 24px;
    }
    
    .home_story p {
        font-size: 14px;
        line-height: 1.8;
    }
    section.testimonials .testi_box .main-img img {
        height: 190px;
        width: 125px;
    }
    
    section.testimonials .testi_box .txt p {
        font-size: 12px;
        line-height: 16px;
        height: 117px;
        margin: 0px 0px 0px;
    }
    
    section.testimonials .testi_box .txt ul li img {
        width: 45px;
        height: 45px;
    }
    
    section.testimonials .testi_box .txt ul li h4 {
        font-size: 20px;
    }
    
    section.testimonials .testi_box .txt ul {
        gap: 6px;
        margin: 0px 0px 8px;
    }
    
    section.testimonials .testi_box {
        gap: 7px;
        padding: 14px 8px;
        align-items: self-start;
    }
    
    section.testimonials .testi_box .txt .star li i {
        font-size: 11px;
    }
    
    section.testimonials {
        padding: 30px 0px 0px;
    }
    
    section.testimonials .head h2 {
        font-size: 30px;
        margin: 0 0 20px;
    }
    
    section.testimonials .testi-slider .owl-dots button.owl-dot span {
        height: 10px;
        width: 10px;
        margin: 0px 3px 0px;
    }
    
    section.testimonials .testi-slider .owl-dots {
        margin: 5px 0px 0px !important;
    }
}
